{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1 class="">About Page</h1>
            <p>
                Pagina del about.<br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores rerum cumque explicabo mollitia adipisci magnam asperiores, incidunt quidem suscipit soluta ducimus corrupti officia consectetur tempore architecto deserunt iusto excepturi doloremque.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/images/mario-bross.jpg" alt="..." class="img-thumbnail">
        </div>
    </div>

{{> footer}}